<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="static/styles/styles.css">
	<title>Error</title>
	<style type="text/css">
		.error-container{
			width: 100%;
			height: 100vh;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
	</style>
</head>
<body>
	<div class="error-container">
		<h1>{{ error["name"] }}</h1>
		<br>
		<p>{{ error["description"] }}</p>
		<p id="seconds">Redirecting in 5 seconds...</p>
	</div>
	<script type="text/javascript">
		var seconds = 5;
		setInterval(function(){
			seconds--;
			document.getElementById("seconds").innerHTML = "Redirigiendo " + seconds + " segundos...";
			if(seconds == 0){
				window.location.href = "/";
			}
		}, 1000);
	</script>
</body>
</html>