<!DOCTYPE html>
<html>
<head>
	<title>Rind your match</title>
    <link rel="stylesheet" type="text/css" href="static/styles/styles.css">
    <link rel="stylesheet" href="static/styles/form_styles.css">
	<link rel="stylesheet" href="static/styles/grid_styles.css">
	<script type="text/javascript" src="static/scripts/mainForm.js"></script>

</head>
<body>
	<p></p>
	<form>
		<div class = "preguntas">
			<button id="anterior" type="button"><</button>
			<div class = "pregunta-template" id="pregunta2">
	            <h3>¿Cuál es tu tipo de música favorita?</h3>
				<!--display grid for 4 options-->
				<div class="grid-container">
					<div class="grid-item">
						<div class="grid-image-container">
							<img src="static/images/clasica.PNG" alt="placeholder">	
						</div>
						<!-- name agrupa checkboxes, value es lo que se manda al json -->
						<input type="radio" name="pregunta1" value="Clasica">Clásica</input>
					</div>
					<div class="grid-item">
						<div class="grid-image-container">
							<img src="static/images/electronica.PNG" alt="placeholder">	
						</div>
						<input type="radio" name="pregunta1" value="Electronica">Electrónica</input>
					</div>
					<div class="grid-item">
						<div class="grid-image-container">
							<img src="static/images/pop.PNG" alt="placeholder">	
						</div>
						<input type="radio" name="pregunta1" value="Pop">Pop</input>
					</div>
					<div class="grid-item">
						<div class="grid-image-container">
							<img src="static/images/reggaeton.PNG" alt="placeholder">	
						</div>
						<input type="radio" name="pregunta1" value="Reggaeton">Reggaetón</input>
					</div>
					<div class="grid-item">
						<div class="grid-image-container">
							<img src="static/images/rock.PNG" alt="placeholder">	
						</div>
						<input type="radio" name="pregunta1" value="Rock">Rock</input>
					</div>
					<div class="grid-item">
						<div class="grid-image-container">
							<img src="static/images/otro.PNG" alt="placeholder">	
						</div>
						<input type="radio" name="pregunta1" value="Otros">Otros</input>
					</div>
				</div>
			</div>
			<div id="pregunta-2" class="pregunta-template" style="display:none">
				<h3>¿Cuál es tu género de película preferido?</h3>
				<!--display grid for 4 options-->
				<div class="grid-container">
					<div class="grid-item">
						<div class="grid-image-container">
							<img src="static/images/drama.PNG" alt="placeholder">
						</div>
						<input type="radio" name="pregunta2" value="drama">Drama</input>
					</div>
					<div class="grid-item">
						<div class="grid-image-container">
							<img src="static/images/thriller.PNG" alt="placeholder">
						</div>
						<input type="radio" name="pregunta2" value="thriller">Thriller/Suspenso</input>
					</div>
					<div class="grid-item">
						<div class="grid-image-container">
							<img src="static/images/comedia.PNG" alt="placeholder">
						</div>
						<input type="radio" name="pregunta2" value="comedia">Comedia</input>
					</div>
					<div class="grid-item">
						<div class="grid-image-container">
							<img src="static/images/accion.PNG" alt="placeholder">
						</div>
						<input type="radio" name="pregunta2" value="accion">Acción</input>
					</div>
					<div class="grid-item">
						<div class="grid-image-container">
							<img src="static/images/aventura.PNG" alt="placeholder">
						</div>
						<input type="radio" name="pregunta2" value="aventura">Aventuras</input>
					</div>
					<div class="grid-item">
						<div class="grid-image-container">
							<img src="static/images/otro.PNG" alt="placeholder">
						</div>
						<input type="radio" name="pregunta2" value="otro2">Otro</input>
					</div>
				</div>
			</div>
			<div id="pregunta-3" class="pregunta-template" style="display:none">
				<h3>¿Cuál sería tu cita ideal?</h3>
				<!--display grid for 4 options-->
				<div class="grid-container">
					<div class="grid-item">
						<div class="grid-image-container">
							<img src="static/images/comida.PNG" alt="placeholder">
						</div>
						<input type="radio" name="pregunta3" value="comer">Salir a Comer</input>
					</div>
					<div class="grid-item">
						<div class="grid-image-container">
							<img src="static/images/cine.PNG" alt="placeholder">
						</div>
						<input type="radio" name="pregunta3" value="cine">Ir al Cine</input>
					</div>
					<div class="grid-item">
						<div class="grid-image-container">
							<img src="static/images/airelibre.PNG" alt="placeholder">
						</div>
						<input type="radio" name="pregunta3" value="aire_libre">Al aire libre</input>
					</div>
					<div class="grid-item">
						<div class="grid-image-container">
							<img src="static/images/viaje.PNG" alt="placeholder">
						</div>
						<input type="radio" name="pregunta3" value="viaje">Un viaje</input>
					</div>
					<div class="grid-item">
						<div class="grid-image-container">
							<img src="static/images/concierto.PNG" alt="placeholder">
						</div>
						<input type="radio" name="pregunta3" value="evento">Evento Artístico</input>
					</div>
				</div>
			</div>
			<div id="pregunta-4" class="pregunta-template" style="display:none">
				<h3>¿Cuáles son tus deportes preferidos?</h3>
				<!--display grid for 4 options-->
				<div class="grid-container">
					<div class="grid-item">
						<div class="grid-image-container">
							<img src="static/images/futbol.PNG" alt="placeholder">
						</div>
						<input type="checkbox">Fútbol</input>
					</div>
					<div class="grid-item">
						<div class="grid-image-container">
							<img src="static/images/basket.PNG" alt="placeholder">
						</div>
						<input type="checkbox" name="pregunta4" value="basket">Basket</input>
					</div>
					<div class="grid-item">
						<div class="grid-image-container">
							<img src="static/images/tenis.PNG" alt="placeholder">
						</div>
						<input type="checkbox" name="pregunta4" value="tenis">Tenis</input>
					</div>
					<div class="grid-item">
						<div class="grid-image-container">
							<img src="static/images/atletismo.PNG" alt="placeholder">
						</div>
						<input type="checkbox" name="pregunta4" value="atletismo">Atletismo</input>
					</div>
					<div class="grid-item">
						<div class="grid-image-container">
							<img src="static/images/natacion.PNG" alt="placeholder">
						</div>
						<input type="checkbox" name="pregunta4" value="natacion">Natación</input>
					</div>
					<div class="grid-item">
						<div class="grid-image-container">
							<img src="static/images/otrosdep.PNG" alt="placeholder">
						</div>
						<input type="checkbox" name="pregunta4" value="otros3">Otros</input>
					</div>
				</div>
			</div>
			<div id="pregunta-5" class="pregunta-template" style="display:none">
				<h3>¿A qué te dedicas?</h3>
				<!--display grid for 4 options-->
				<div class="grid-container">
					<div class="grid-item">
						<div class="grid-image-container">
							<img src="static/images/study.png" alt="placeholder">
						</div>
						<input type="radio" name="pregunta5" value="estudiar">Estudiar</input>
					</div>
					<div class="grid-item">
						<div class="grid-image-container">
							<img src="static/images/work.png" alt="placeholder">
						</div>
						<input type="radio" name="pregunta5" value="trabajar">Trabajar</input>
					</div>
					<div class="grid-item">
						<div class="grid-image-container">
							<img src="static/images/both.png" alt="placeholder">
						</div>
						<input type="radio" name="pregunta5" value="ambos">Ambos</input>
					</div>
					<div class="grid-item">
						<div class="grid-image-container">
							<img src="static/images/neither.png" alt="placeholder">
						</div>
						<input type="radio" name="pregunta5" value="ninguno">Ninguno</input>
					</div>
				</div>
			</div>
			<div id="pregunta-6" class="pregunta-template" style="display:none">
				<h3>¿Vas al gimnasio?</h3>
				<!--display grid for 4 options-->
				<div class="grid-container">
					<div class="grid-item">
						<div class="grid-image-container">
							<img src="static/images/gym.png" alt="placeholder">
						</div>
						<input type="radio" name="pregunta6" value="si">Sí</input>
					</div>
					<div class="grid-item">
						<div class="grid-image-container">
							<img src="static/images/nogym.png" alt="placeholder">
						</div>
						<input type="radio" name="pregunta6" value="no">No</input>
					</div>
				</div>
			</div>
			<div id="pregunta-7" class="pregunta-template" style="display:none">
				<h3>Sexo:</h3>
				<!--display grid for 4 options-->
				<div class="grid-container">
					<div class="grid-item">
						<div class="grid-image-container">
							<img src="static/images/female.png" alt="placeholder">
						</div>
						<input type="radio" name="pregunta7" value="Femenino">Femenino</input>
					</div>
					<div class="grid-item">
						<div class="grid-image-container">
							<img src="static/images/male.png" alt="placeholder">
						</div>
						<input type="radio" name="pregunta7" value="Masculino">Masculino</input>
					</div>
				</div>
			</div>
			<div id="pregunta-8" class="pregunta-template" style="display:none">
				<h3>Orientación sexual</h3>
				<!--display grid for 4 options-->
				<div class="grid-container">
					<div class="grid-item">
						<div class="grid-image-container">
							<img src="static/images/hetero.PNG" alt="placeholder">
						</div>
						<input type="radio" name="pregunta8" value="Hetero">Heterosexual</input>
					</div>
					<div class="grid-item">
						<div class="grid-image-container">
							<img src="static/images/bisexual.PNG" alt="placeholder">
						</div>
						<input type="radio" name="pregunta8" value="Bisexual">Bisexual</input>
					</div>
					<div class="grid-item">
						<div class="grid-image-container">
							<img src="static/images/gay.PNG" alt="placeholder">
						</div>
						<input type="radio" name="pregunta8" value="Gay">Homosexual</input>
					</div>
					<div class="grid-item">
						<div class="grid-image-container">
							<img src="static/images/intmark.png" alt="placeholder">
						</div>
						<input type="radio" name="pregunta8" value="Otrosex">Otro</input>
					</div>
				</div>
			</div>
			<button id="siguiente" type="button">></button>
		</div>
		<p>¿No deseas contestar la pregunta? <a href="#" id="omitir">Omítela</a></p>
	</form>

	<script>
		//FUNCIONA!!

		// Obtener los elementos HTML necesarios
		const botonSiguiente = document.getElementById('siguiente');
		const botonAnterior = document.getElementById('anterior');
		const preguntas = document.querySelectorAll('.pregunta-template');
		const botonesOmitir = document.querySelectorAll('.omitir');
		let preguntaActual =0;


		// Agregar un controlador de eventos para el botón ">"
		botonSiguiente.addEventListener('click', () => {
		// Ocultar la pregunta actual
		preguntas[preguntaActual].style.display = 'none';

		// Incrementar el índice de la pregunta
		preguntaActual++;

		// Mostrar la siguiente pregunta
		if (preguntaActual < preguntas.length) {
			preguntas[preguntaActual].style.display = 'block';

		} else {
			preguntaActual--;
		}
		});

		// Agregar un controlador de eventos para el botón "<"
		botonAnterior.addEventListener('click', () => {
			console.log(preguntaActual);
		// Ocultar la pregunta actual
		preguntas[preguntaActual].style.display = 'none';

		// Decrementar el índice de la pregunta
		preguntaActual--;

		// Mostrar la pregunta anterior
		if (preguntaActual >= 0) {
			preguntas[preguntaActual].style.display = 'block';
		} else {
			preguntaActual++;
		}
		});

		// Agregar un controlador de eventos para cada botón "omitir"
		for (let i = 0; i < botonesOmitir.length; i++) {
		botonesOmitir[i].addEventListener('click', (event) => {
			event.preventDefault();
			// Saltar la pregunta actual
			preguntas[preguntaActual].style.display = 'none';
			preguntaActual++;
			// Mostrar la siguiente pregunta
			if (preguntaActual < preguntas.length) {
			preguntas[preguntaActual].style.display = 'block';
			} else {
			preguntaActual--;
			}
		});
		}

		const checks = document.getElementsByClassName("grid-image-container")
		for(let i=0; i< checks.length; i++){
			const padre = checks[i].parentElement;
			const input= padre.getElementsByTagName('input')
			console.log(input)
			checks[i].addEventListener('click',function(){
				input[0].click();
			})
		}

	</script>
</body>
</html>
