<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Rinder</title>

    <!-- icons -->
    <script src="https://cdn.jsdelivr.net/npm/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>

    <!--styles-->
    <link rel="stylesheet" type="text/css" href="static/styles/styles.css">
    <link rel="stylesheet" type="text/css" href="static/styles/animations.css">

    <link rel="stylesheet" type="text/css" href="static/styles/matches.css">
    <link rel="stylesheet" type="text/css" href="static/styles/messages.css">
    <link rel="stylesheet" type="text/css" href="static/styles/profile.css">
    <link rel="stylesheet" type="text/css" href="static/styles/posts.css">

    <!-- Jquery JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.3/umd/popper.min.js"></script>
</head>

<body>
    <form id="form-photo">
        <div id="fullscreen" class='vista-superior'></div>
        <div id="mensaje-emergente" class="mensaje-emergente">
            <label for="file-upload">Subir una foto de perfil</label>
            <input type="file" id="file-upload" name="file-upload">
            <button type="submit" class="btn-send" id="btn-submit-profile-photo">Enviar</button>
        </div>
    </form>
    <div id="mensaje-emergente2" class="mensaje-emergente">
        <form id="form-upload">
            <div>
                <label for="username">Nombre de usuario:</label>
                <input type="text" id="username" name="username">
            </div>
            <div>
                <label for="name">Nombre:</label>
                <input type="text" id="name" name="name">
            </div>
            <div>
                <label for="description" id="labelDescrip">Descripción:</label>
                <textarea id="description" name="description"></textarea>
            </div>
        </form>
        <button type="submit" class="btn-send" id="btn-send-upload">Guardar</button>
    </div>
    <!-- Barra lateral -->
    <div class="sidebar">
        <div>
            <div class="title"> <img src="static/images/logoTitle.png"></div>
            <a id="Matches">Rind your love!</a>
            <a id="Posts" style="display: none;">Posts</a>
            <a id="Mensajes">Mensajes</a>
            <a id="Perfil">Mi Perfil</a>
            <a id="Planes">Planes</a>
            <a id="Soporte">Soporte</a>
        </div>
        <div>
            <a href="/logout">Cerrar sesión</a>
        </div>
    </div>


    <!-- Secciones para cada link (matches, posts, mensajes, perfil y soporte) -->
    <div class="main">
        <!-- Seccion de matches -->
        <div id="Matches-Content" class="container slide-in-top Matches-container" style="display:none;">
            <div class="left-matches">
                <button id="like">
                    <!--placeholder-->
                    <img src="static/images/c_rosado.PNG" alt="Acepta">
                </button>
            </div>

            <div class="center-matches" id="center-matches">
                <div class="profile-photo-matches" id="container_image">
                    <!--placeholder-->
                    <img id="foto_perfil" src="https://via.placeholder.com/525x425" alt="Foto de perfil">

                    <div class="profile-photo-footer">
                        <h4>Cesar Perales</h4>
                        <h4>17</h4>
                    </div>

                </div>
                <div class="profile-info-matches">
                    <p><strong>Descripción:</strong></p>
                    <p>Guapo por naturaleza, con propietaria pero sin dueña :Stars:. Tuyo no por siempre puesto que
                        cesitar es libre, cesitar es amor.</p>
                </div>
            </div>

            <div class="right-matches">
                <button id="equis">
                    <!--placeholder-->
                    <img id="equis_image" src="static/images/equis.PNG" alt="Rechaza">
                </button>
            </div>
        </div>

        <!-- Seccion de posts -->
        <div id="Posts-Content" class="container slide-in-top Posts-container" style="display:none;">
            <div class="new-post-container">
                <h3>Bienvenido a Rinder</h3>
                <input type="text" placeholder="¿Qué tienes en mente?">
            </div>
            <div class="posts-section-posts-container">
                <div class="profile-post-box rounded-pink-border">
                    <div class="profile-post-header">
                        <div class="profile-post-user-image">
                            <img src="https://via.placeholder.com/60" alt="Foto de perfil">
                        </div>
                        <div class="profile-post-user-name">
                            <h5>Cesar Perales</h5>
                        </div>
                    </div>
                    <div class="profile-post-content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                            cillum dolore eu fugiat nulla pariatur.</p>
                        <img src="https://via.placeholder.com/525x425" alt="Foto de perfil">
                    </div>
                    <div class="profile-post-footer">
                        <div class="profile-post-footer-left">
                            <p>12/12/2020 12:00</p>
                        </div>
                        <div class="profile-post-footer-right">
                            <button id="profile-post-like-btn" class="profile-post-like-btn">♥</button>
                        </div>
                    </div>
                </div>
                <div class="profile-post-box rounded-pink-border">
                    <div class="profile-post-header">
                        <div class="profile-post-user-image">
                            <img src="https://via.placeholder.com/60" alt="Foto de perfil">
                        </div>
                        <div class="profile-post-user-name">
                            <h5>Cesar Perales</h5>
                        </div>
                    </div>
                    <div class="profile-post-content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                            cillum dolore eu fugiat nulla pariatur.</p>
                    </div>
                    <div class="profile-post-footer">
                        <div class="profile-post-footer-left">
                            <p>12/12/2020 12:00</p>
                        </div>
                        <div class="profile-post-footer-right">
                            <button id="profile-post-like-btn" class="profile-post-like-btn">♥</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Seccion de mensajes -->
        <div id="Mensajes-Content" class="container slide-in-top Messages-container" style="display:none;">
            <div class="left-Messages-container">
                <h3>Mensajes</h3>
                <div class="messages-list-container">
                    <div class="contact-box" data-id="1" id="template-contact-box">
                        <div class="contact-box-immage">
                            <img src="https://via.placeholder.com/60" alt="Foto de perfil">
                        </div>
                        <div class="contact-box-message">
                            <p><strong>Cesar Perales</strong></p>
                            <p>Last message here!</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="right-Messages-container">
                <div class="main-Messages-container">
                    <div class="user-Message-info">
                        <img src="static/profilePhotos/default/defaultProfile.png" alt="Foto de perfil">
                        <h4>César Perales</h4>
                        <p><strong>Descripción: </strong>Con propietaria pero sin dueña siuuu</p>
                    </div>
                    <div class="user-Message-box">
                        <div class="user-Message other-Message">
                            <p>Hola, ¿cómo estás?</p>
                        </div>
                        <div class="user-Message this-Message">
                            <p>Bien, como te llamas XD</p>
                        </div>
                        <div class="user-Message other-Message">
                            <p>Cesitar peraltaaa, el más fachero</p>
                        </div>
                        <div class="user-Message this-Message">
                            <p>A</p>
                        </div>
                        <div class="user-Message this-Message">
                            <p>ya pero pq el autoestima tan alta???</p>
                        </div>
                        <div class="user-Message this-Message">
                            <p>ajsdklsajd</p>
                        </div>
                        <div class="user-Message other-Message">
                            <p>ehhh, autoestima? Pensar q la tengo baja JAJAJAJS</p>
                        </div>
                        <div class="user-Message this-Message">
                            <p>xdddd bienbien</p>
                        </div>
                    </div>
                </div>
                <div class="send-Messages-container">
                    <button id="emoji-btn" class="emoji-btn">🧐</button>
                    <!-- queremos usar un API para la segunda entrega y hacer que se abra el menu desplegable de emojis para cada sistema operativo -->
                    <input type="text" placeholder="Escribe un mensaje">
                    <button id="send-btn" class="send-btn">Enviar</button>
                </div>
            </div>
        </div>

        <!-- Seccion de perfil -->
        <div id="Perfil-Content" class="container Perfil-container slide-in-top" style="display:none;">
            <!--Estructura básica para el perfil con foto de perfil, descripción, etc-->
            <div class="profile-container">
                <div class="profile-top">
                    <div class="profile-info-fast">
                        <div class="profile-info-immage">
                            <img id="profile-section-photo-img" src="https://via.placeholder.com/150"
                                alt="Foto de perfil">
                            <button id="btn-add-photo" class="btn-add-photo">
                                <span class="icon">+</span>
                            </button>
                        </div>
                        <!--Información rapida, num likes recibidos, seguidores, -->
                        <div class="profile-info-fast-box">
                            <div class="fast-info-box">
                                <h3 id="profile-name">Cesar Perales</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="profile-down">
                    <div class="profile-info-main rounded-pink-border" style="width: 100%">
                        <h5 id="profile-username">Username</h5>
                        <br>
                        <p id="profile-description"><strong>Descripción:</strong> Lorem ipsum dolor sit amet,
                            consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        <p id="profile-nacimiento"><strong>Fecha nacimiento:</strong> 20/05/2005</p>
                        <p id="profile-edad"><strong>Edad:</strong> 23</p>
                        <p id="profile-genero"><strong>Género:</strong> M</p>


                        <button class="btn-edit-profile" id="btn-edit-profile">
                            <p2>Editar perfil
                        </button>
                    </div>

                    <div class="profile-posts" style="display:none;">
                        <div class="profile-post-box rounded-pink-border">
                            <div class="profile-post-header">
                                <div class="profile-post-user-image">
                                    <img src="https://via.placeholder.com/60" alt="Foto de perfil">
                                </div>
                                <div class="profile-post-user-name">
                                    <h5>Cesar Perales</h5>
                                </div>
                            </div>
                            <div class="profile-post-content">
                                <p>Tu descripción</p>
                                <img src="https://via.placeholder.com/400" alt="Foto de perfil">
                            </div>
                            <div class="profile-post-footer">
                                <div class="profile-post-footer-left">
                                    <p>12/12/2020 12:00</p>
                                </div>
                                <div class="profile-post-footer-right">
                                    <button class="profile-post-like-btn" liked="0">♥</button>
                                    <!-- <button class="profile-post-comment-btn"><img src="images/chatbubble.svg" alt="bubble"></button> -->
                                </div>
                            </div>
                        </div>
                        <div class="profile-post-box rounded-pink-border">
                            <div class="profile-post-header">
                                <div class="profile-post-user-image">
                                    <img src="https://via.placeholder.com/60" alt="Foto de perfil">
                                </div>
                                <div class="profile-post-user-name">
                                    <h5>Cesar Perales</h5>
                                </div>
                            </div>
                            <div class="profile-post-content">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                    cillum dolore eu fugiat nulla pariatur.</p>

                                <img src="https://via.placeholder.com/800" alt="Foto de perfil">

                            </div>
                            <div class="profile-post-footer">
                                <div class="profile-post-footer-left">
                                    <p>12/12/2020 12:00</p>
                                </div>
                                <div class="profile-post-footer-right">
                                    <button class="profile-post-like-btn" liked="0">♥</button>
                                    <button class="profile-post-comment-btn"><ion-icon
                                            name="chatbubble"></ion-icon></button>
                                </div>
                            </div>
                        </div>
                        <div class="profile-post-box rounded-pink-border">
                            <div class="profile-post-header">
                                <div class="profile-post-user-image">
                                    <img src="https://via.placeholder.com/60" alt="Foto de perfil">
                                </div>
                                <div class="profile-post-user-name">
                                    <h5>Cesar Perales</h5>
                                </div>
                            </div>
                            <div class="profile-post-content">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                    cillum dolore eu fugiat nulla pariatur.</p>
                                <img src="https://via.placeholder.com/200" alt="Foto de perfil">
                            </div>
                            <div class="profile-post-footer">
                                <div class="profile-post-footer-left">
                                    <p>12/12/2020 12:00</p>
                                </div>
                                <div class="profile-post-footer-right">
                                    <button id="profile-post-like-btn" class="profile-post-like-btn"
                                        liked="0">♥</button>
                                    <button class="profile-post-comment-btn"><ion-icon
                                            name="chatbubble"></ion-icon></button>
                                </div>
                            </div>
                        </div>
                        <div class="profile-post-box rounded-pink-border">
                            <div class="profile-post-header">
                                <div class="profile-post-user-image">
                                    <img src="https://via.placeholder.com/60" alt="Foto de perfil">
                                </div>
                                <div class="profile-post-user-name">
                                    <h5>Cesar Perales</h5>
                                </div>
                            </div>
                            <div class="profile-post-content">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                    cillum dolore eu fugiat nulla pariatur.</p>
                            </div>
                            <div class="profile-post-footer">
                                <div class="profile-post-footer-left">
                                    <p>12/12/2020 12:00</p>
                                </div>
                                <div class="profile-post-footer-right">
                                    <button id="profile-post-like-btn" class="profile-post-like-btn"
                                        liked="0">♥</button>
                                    <!-- <button class="profile-post-comment-btn"><ion-icon name="chatbubble"></ion-icon></button> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Secciones de pago-->
        <div id="Planes-Content" class="container slide-in-top" style="display:none;">
            <div class="row">
                <div class="col-12">
                    <h3>Planes</h3>
                    <div class="Planes" id="basicPlan">
                        <div id="placeholder-plan">
                    </div>
                        <p class="Planes-abajo">Consta en likes limitados, máximo 20 por día</p>
                        <p class="Planes-abajo">____________________________________________</p>
                        <div class="Button-Plan">
                            <p class="Planess">Plan Básico (Actual)</p>
                        </div>
                    </div>
                    <div class="Planes" id="VIPPlan">
                        <div id="placeholder-plan">
                        </div>
                        <p class="Planes-abajo">Consta en likes limitados, máximo 50 por día</p>
                        <p class="Planes-abajo">____________________________________________</p>
                        <div class="Button-Plan">
                            <p class="Planess">Plan VIP (Actualizar)</p>
                        </div>
                    </div>
                    <div class="Planes" id="SuperVIPPlan">
                        <div id="placeholder-plan">
                        </div>
                        <p class="Planes-abajo">Consta en likes ilimtados</p>
                        <p class="Planes-abajo">____________________________________________</p>
                        <div class="Button-Plan">
                            <p class="Planess">Plan Súper-VIP (Actualizar)</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Seccion de soporte -->
        <div id="Soporte-Content" class="container slide-in-top" style="display:none;">
            <div class="row">
                <div class="col-12">
                    <h3>Soporte</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="adds-container rounded-pink-border" style="display:none;">
        <div class="row">
            <div class="col-12">
                <h3>Publicidad</h3>
                <br>
                <p>Nos estas viendo? Ellos te verán</p>
                <a>Anunciate aqui!</a>
            </div>
        </div>
    </div>

    <script src="static/scripts/navBar.js"></script>
    <script src="static/scripts/chatsLoad.js"></script>
    <script src="static/scripts/likes.js"></script>
    <script src="static/scripts/loadProfile.js"></script>

    <!-- inicio de la web -->
    <script type="text/javascript">
        $(document).ready(function () {
            $("#Matches").click();
        });
    </script>
    <script>
        // hacer que fullscreen solo aparezca al precionar el boton btn-add-photo
        const miBoton = document.getElementById('btn-add-photo');
        const fullDiv = document.getElementById('fullscreen');
        const mEmergente = document.getElementById('mensaje-emergente');

        mEmergente.style.display = 'none';
        fullDiv.style.display = 'none';
        miBoton.addEventListener('click', () => {
            fullDiv.style.display = 'block';
            mEmergente.style.display = 'block';
        });

        fullDiv.addEventListener('click', () => {
            fullDiv.style.display = 'none';
            mEmergente.style.display = 'none';
        })

        //lo mismo para editar perfil
        const btnEditar = document.getElementById('btn-edit-profile');
        const mEmergente2 = document.getElementById('mensaje-emergente2');

        mEmergente2.style.display = 'none';

        btnEditar.addEventListener('click', () => {
            fullDiv.style.display = 'block';
            mEmergente2.style.display = 'block';
        });

        fullDiv.addEventListener('click', () => {
            fullDiv.style.display = 'none';
            mEmergente2.style.display = 'none';
        })

        //ACTUALIZAR INFORMACION DEL PERFIL
        const btnSend = document.getElementById('btn-send-upload');

        btnSend.addEventListener('click', () => {
            d = document.getElementById('form-upload')
            data = new FormData(d);
            console.log(data);
            data = Object.fromEntries(data);
            const json = {};

            //fetch edit profile FUNCIONAA
            fetch('\submit-profile', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(json)
            })
                .then(function (response) {
                    return response.json();
                })
                .then(function (data) {
                    if (data.success = true) {
                        document.getElementById('fullscreen').click();
                        document.getElementById('Perfil').click();
                    }
                    else {
                        console.log('error');
                    }
                })
                .catch(function (error) {
                    console.log(error);
                })
        })


        //ACTUALIZAR FOTO DE PERFIL

        const btnSubmit = document.getElementById('btn-submit-profile-photo');
        //el event listener de la foto de perfil
        btnSubmit.addEventListener('click', () => {
            event.preventDefault();
            //fetch add photo
            console.log('hola');
            const photo = document.getElementById('form-photo');
            foto = new FormData(photo);

            fetch('\submit-photo', {
                method: 'POST',
                body: foto
            })
                .then(response => response.json())
                .then(function (foto) {
                    if (foto.success = true) {
                        document.getElementById('fullscreen').click();
                        document.getElementById('Perfil').click();
                    }
                    else {
                        console.log('error');
                    }
                })
                .catch(function (error) {
                    console.log(error);
                })
        })

    </script>
    <script>



        //funcion MOVE IMAGE para los matches
        //RECHAZO (EQUIS)

        function moveMatchesOutR() {
        const centerMatches = document.getElementById("center-matches");
        //remover todas las clases
        centerMatches.classList = "";
        centerMatches.classList.add("center-matches");
        centerMatches.classList.add("slide-out-right");
        }


        function moveMatchesInR() {
        const centerMatches = document.getElementById("center-matches");
        //remover todas las clases
        centerMatches.classList = "";
        centerMatches.classList.add("center-matches");
        centerMatches.classList.add("slide-in-right");
        }


        function moveMatchesOutLeft() {
        const centerMatches = document.getElementById("center-matches");
        //remover todas las clases
        centerMatches.classList = "";
        centerMatches.classList.add("center-matches");
        centerMatches.classList.add("slide-out-left");
        }

        function moveMatchesInLeft() {
        const centerMatches = document.getElementById("center-matches");
        //remover todas las clases
        centerMatches.classList = "";
        centerMatches.classList.add("center-matches");
        centerMatches.classList.add("slide-in-left");
        }

        const btnEquis = document.getElementById("equis");
        btnEquis.addEventListener("click", () => {
            moveMatchesOutR();
            setTimeout(function () {
                moveMatchesInLeft();
            }, 1000);
        });

        const btnLike = document.getElementById("like");
        btnLike.addEventListener("click", () => {
            moveMatchesOutLeft();
            setTimeout(function () {
                moveMatchesInR();
            }, 1000);
        });


    </script>
</body>

</html>