<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>App de citas</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">

  <!-- icons -->
  <script src="https://cdn.jsdelivr.net/npm/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>

  <!--styles-->
  <link rel="stylesheet" type="text/css" href="styles/styles.css">
  <link rel="stylesheet" type="text/css" href="styles/animations.css">

  <link rel="stylesheet" type="text/css" href="styles/matches.css">
  <link rel="stylesheet" type="text/css" href="styles/messages.css">
  <link rel="stylesheet" type="text/css" href="styles/profile.css">
  <link rel="stylesheet" type="text/css" href="styles/posts.css">
</head>
<body>
  <!-- Barra lateral -->
  <div class="sidebar">
    <div class="title"> <img src="images/logoTitle.png"></div>
    <a id="Matches" href="#">Rind your love!</a>
    <a id="Posts" href="#">Posts</a>
    <a id="Mensajes" href="#">Mensajes</a>
    <a id="Perfil" href="#">Mi Perfil</a>
    <a id="Planes" href="#">Planes</a>
    <a id="Soporte" href="#">Soporte</a>
  </div>


  <!-- Secciones para cada link (matches, posts, mensajes, perfil y soporte) -->
    <div class="main">
        <!-- Seccion de matches -->
        <div id="Matches-Content" class="container slide-in-top Matches-container">
            <div class="left-matches">
                <button>
                    <!--placeholder-->
                    <img src="images/c_rosado.PNG" alt="Acepta">
                </button>
            </div>

            <div class="center-matches">
                <div class="profile-photo-matches">
                    <!--placeholder-->
                    <img src="https://via.placeholder.com/525x425" alt="Foto de perfil">
                    
                    <div class="profile-photo-footer">
                        <h4>Cesar Perales</h4>
                        <h4>17</h4>
                    </div>

                </div>
                <div class="profile-info-matches">
                    <p><strong>Descripción:</strong></p>
                    <p>Guapo por naturaleza, con propietaria pero sin dueña :Stars:. Tuyo no por siempre puesto que cesitar es libre, cesitar es amor.</p>
                </div>
            </div>

            <div class="right-matches">
                <button>
                    <!--placeholder-->
                    <img src="images/equis.PNG" alt="Rechaza">
                </button>
            </div>
        </div>

        <!-- Seccion de posts -->
        <div id="Posts-Content" class="container slide-in-top Posts-container">
            <div class="new-post-container">
                <h3>Bienvenido a Rinder</h3>
                <input type="text" placeholder="¿Qué tienes en mente?">
            </div>
            <div class="posts-section-posts-container">
                <div class="profile-post-box rounded-pink-border">
                    <div class="profile-post-header">
                        <div class="profile-post-user-image">
                                <img src="https://via.placeholder.com/60" alt="Foto de perfil">
                                </div>
                                <div class="profile-post-user-name">
                                    <h5>Cesar Perales</h5>
                                </div>
                        </div>
                        <div class="profile-post-content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                        cillum dolore eu fugiat nulla pariatur.</p>
                            <img src="https://via.placeholder.com/525x425" alt="Foto de perfil">
                        </div>
                    <div class="profile-post-footer">
                        <div class="profile-post-footer-left">
                            <p>12/12/2020 12:00</p>
                        </div>
                        <div class="profile-post-footer-right">
                            <button id="profile-post-like-btn" class="profile-post-like-btn" >♥</button>
                        </div>
                    </div>
                </div>
                <div class="profile-post-box rounded-pink-border">
                    <div class="profile-post-header">
                        <div class="profile-post-user-image">
                                <img src="https://via.placeholder.com/60" alt="Foto de perfil">
                                </div>
                                <div class="profile-post-user-name">
                                    <h5>Cesar Perales</h5>
                                </div>
                        </div>
                        <div class="profile-post-content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                        cillum dolore eu fugiat nulla pariatur.</p>
                        </div>
                    <div class="profile-post-footer">
                        <div class="profile-post-footer-left">
                            <p>12/12/2020 12:00</p>
                        </div>
                        <div class="profile-post-footer-right">
                            <button id="profile-post-like-btn" class="profile-post-like-btn" >♥</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Seccion de mensajes -->
        <div id="Mensajes-Content" class="container slide-in-top Messages-container">
                    <div class="left-Messages-container">
                        <h3>Mensajes</h3>
                        <div class="messages-list-container">
                            <div class="contact-box" data-id="1">
                                <div class="contact-box-immage">
                                    <img src="https://via.placeholder.com/60" alt="Foto de perfil">
                                </div>
                                <div class="contact-box-message">
                                    <p><strong>Cesar Perales</strong></p>
                                    <p>Last message here!</p>
                                </div>
                            </div>
                            <div class="contact-box" data-id="2">
                                <div class="contact-box-immage">
                                    <img src="https://via.placeholder.com/60" alt="Foto de perfil">
                                </div>
                                <div class="contact-box-message">
                                    <p><strong>Melisa Rivera</strong></p>
                                    <p>Other Last message here!</p>
                                </div>
                            </div>
                            <div class="contact-box" data-id="2">
                                <div class="contact-box-immage">
                                    <img src="https://via.placeholder.com/60" alt="Foto de perfil">
                                </div>
                                <div class="contact-box-message">
                                    <p><strong>Fernando uwu</strong></p>
                                    <p>No te pido que me perdones solo que me comprendas</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="right-Messages-container">
                        <div class="main-Messages-container">
                            <div class="user-Message-info">
                                <img src="https://via.placeholder.com/150" alt="Foto de perfil">
                                <h4>César Perales</h4>
                                <p><strong>Descripción: </strong>Con propietaria pero sin dueña siuuu</p>
                            </div>
                            <div class="user-Message-box">
                                <div class="user-Message other-Message">
                                    <p>Hola, ¿cómo estás?</p>
                                </div>
                                <div class="user-Message this-Message">
                                    <p>Bien, como te llamas XD</p>
                                </div>
                                <div class="user-Message other-Message">
                                    <p>Cesitar peraltaaa, el más fachero</p>
                                </div>
                                <div class="user-Message this-Message">
                                    <p>A</p>
                                </div>
                                <div class="user-Message this-Message">
                                    <p>ya pero pq el autoestima tan alta???</p>
                                </div>
                                <div class="user-Message this-Message">
                                    <p>ajsdklsajd</p>
                                </div>
                                <div class="user-Message other-Message">
                                    <p>ehhh, autoestima? Pensar q la tengo baja JAJAJAJS</p>
                                </div>
                                <div class="user-Message this-Message">
                                    <p>xdddd bienbien</p>
                                </div>
                            </div>
                        </div>
                        <div class="send-Messages-container">
                            <button id="emoji-btn" class="emoji-btn">🧐</button>
                            <button id="file-btn" class="file-btn">🧷</button>
                            <input type="text" placeholder="Escribe un mensaje">
                            <button id="send-btn" class="send-btn">Enviar</button>
                        </div>
                    </div>
        </div>

        <!-- Seccion de perfil -->
        <div id="Perfil-Content" class="container Perfil-container slide-in-top">
            <!--Estructura básica para el perfil con foto de perfil, descripción, etc-->
            <button class="btn-edit-profile"><p2>Editar perfil</button>
            <button class="btn-add-photo">
                <span class="icon">+</span>
              </button>
            <div class="profile-container">
                <div class="profile-top">
                    <div class="profile-info-fast">
                        <div class="profile-info-immage">
                            <img src="https://via.placeholder.com/150" alt="Foto de perfil">
                        </div>
                        <!--Información rapida, num likes recibidos, seguidores, -->
                        <div class="profile-info-fast-box">
                            <div class="fast-info-box">
                                <h5>Seguidores</h5>
                                <p>10</p>
                            </div>
                            <div class="fast-info-box">
                                <h5>Estado Civil</h5>
                                <p>Divorciado</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="profile-down">
                    <div class="profile-info-main rounded-pink-border">
                        <h3>Cesar Perales</h3>
                        <p><strong>Descripción: </strong>Con propietaria pero sin dueña siuuu Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                consequat. </p>
                        <p><strong>Intereses: </strong>Autos, Motos, Música, etc</p>
                        <p><strong>Edad: </strong>23</p>
                        <p><strong>Sexo: </strong>Masculino</p>
                        <p><strong>Ubicación: </strong>Argentina</p>
                        <p><strong>Idiomas: </strong>Español, Inglés</p>
                        <p><strong>Profesión: </strong>Programador</p>
                    </div>

                    <div class="profile-posts">
                        <div class="profile-post-box rounded-pink-border">
                            <div class="profile-post-header">
                                <div class="profile-post-user-image">
                                        <img src="https://via.placeholder.com/60" alt="Foto de perfil">
                                    </div>
                                    <div class="profile-post-user-name">
                                        <h5>Cesar Perales</h5>
                                    </div>
                                </div>
                                <div class="profile-post-content">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                        cillum dolore eu fugiat nulla pariatur.</p>
                                    <img src="https://via.placeholder.com/400" alt="Foto de perfil">
                                </div>
                            <div class="profile-post-footer">
                                <div class="profile-post-footer-left">
                                    <p>12/12/2020 12:00</p>
                                </div>
                                <div class="profile-post-footer-right">
                                        <button class="profile-post-like-btn" liked="0">♥</button>
                                        <!-- <button class="profile-post-comment-btn"><img src="images/chatbubble.svg" alt="bubble"></button> -->
                                    </div>                                    
                            </div>
                        </div>
                        <div class="profile-post-box rounded-pink-border">
                            <div class="profile-post-header">
                                <div class="profile-post-user-image">
                                        <img src="https://via.placeholder.com/60" alt="Foto de perfil">
                                    </div>
                                    <div class="profile-post-user-name">
                                        <h5>Cesar Perales</h5>
                                    </div>
                                </div>
                                <div class="profile-post-content">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                        cillum dolore eu fugiat nulla pariatur.</p>

                                    <img src="https://via.placeholder.com/800" alt="Foto de perfil">

                                </div>
                            <div class="profile-post-footer">
                                <div class="profile-post-footer-left">
                                    <p>12/12/2020 12:00</p>
                                </div>
                                <div class="profile-post-footer-right">
                                    <button class="profile-post-like-btn" liked="0">♥</button>
                                    <button class="profile-post-comment-btn"><ion-icon name="chatbubble"></ion-icon></button>
                                </div>
                            </div>
                        </div>
                        <div class="profile-post-box rounded-pink-border">
                            <div class="profile-post-header">
                                <div class="profile-post-user-image">
                                        <img src="https://via.placeholder.com/60" alt="Foto de perfil">
                                    </div>
                                    <div class="profile-post-user-name">
                                        <h5>Cesar Perales</h5>
                                    </div>
                                </div>
                                <div class="profile-post-content">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                        cillum dolore eu fugiat nulla pariatur.</p>
                                    <img src="https://via.placeholder.com/200" alt="Foto de perfil">
                                </div>
                            <div class="profile-post-footer">
                                <div class="profile-post-footer-left">
                                    <p>12/12/2020 12:00</p>
                                </div>
                                <div class="profile-post-footer-right">
                                    <button id="profile-post-like-btn" class="profile-post-like-btn" liked="0" >♥</button>
                                    <button class="profile-post-comment-btn"><ion-icon name="chatbubble"></ion-icon></button>
                                </div>
                            </div>
                        </div>
                        <div class="profile-post-box rounded-pink-border">
                            <div class="profile-post-header">
                                <div class="profile-post-user-image">
                                        <img src="https://via.placeholder.com/60" alt="Foto de perfil">
                                    </div>
                                    <div class="profile-post-user-name">
                                        <h5>Cesar Perales</h5>
                                    </div>
                                </div>
                                <div class="profile-post-content">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                        cillum dolore eu fugiat nulla pariatur.</p>
                                </div>
                            <div class="profile-post-footer">
                                <div class="profile-post-footer-left">
                                    <p>12/12/2020 12:00</p>
                                </div>
                                <div class="profile-post-footer-right">
                                    <button id="profile-post-like-btn" class="profile-post-like-btn" liked="0">♥</button>
                                    <!-- <button class="profile-post-comment-btn"><ion-icon name="chatbubble"></ion-icon></button> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Secciones de pago-->
        <div id="Planes-Content" class="container slide-in-top">
            <div class="row">
                <div class="col-12">
                    <h3>Planes</h3>
                </div>
            </div>
        </div>


        <!-- Seccion de soporte -->
        <div id="Soporte-Content" class="container slide-in-top">
            <div class="row">
                <div class="col-12">
                    <h3>Soporte</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="adds-container rounded-pink-border">
        <div class="row">
            <div class="col-12">
                <h3>Publicidad</h3>
                <br>
                <p>Nos estas viendo? Ellos te verán</p>
                <a href="#">Anunciate aqui!</a>
            </div>
        </div>
    </div>

  <!-- Bootstrap JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.3/umd/popper.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
  <script src="scripts/navBar.js"></script>
  <script src="scripts/chatsLoad.js"></script>

  <script type="text/javascript">
        $(document).ready(function(){
            $("#Posts").click();
        });
  </script>

<script> 
    var likeButton = document.getElementsByClassName("profile-post-like-btn");
    console.log(likeButton)
    for (var i = 0; i < likeButton.length; i++){
        likeButton[i].addEventListener("click", function(){
            console.log("presionado!")
            if(this.classList.contains("liked")){
                this.classList.remove("liked")
            }else{
                this.classList.add("liked")
            }
        });
    }
</script>

</body>
</html>