form {
    margin-top: 0;
    width: 70%;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


h1, h2, h3, h4 {
    margin-left: 50px;
    color: #FF007F;
    font-size: larger;
    margin: 34px;
    margin-top: 9px;
}


body {
    background-color: #F7F3F7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    color: #333333;
    font-family: 'Montserrat', sans-serif;
    align-items: center;
    height: 100%;
}

html {
    border-top: solid;
    border-top-width: 12px;
    border-top-color: #ee628e;
}

h2 {
    font-size: 1.3em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 40px;
}

form {
    text-align: justify;
    padding: 0px;
    line-height: 28px;
}

p {
    color: #ee628e;
    font-weight: bold;
    margin: 30px;
}

button {
    margin: 11px;
    width: 95%;
    padding: 10px;
    border: none;
    font-size: 15px;
    background: #ee628e;
    color: white;
    border-radius: 6px;
    font-family: 'Montserrat';
}

.preguntas {
    display: flex;
    width: 116%;
    flex-wrap: nowrap;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}

.preguntas button {
    padding: 26px;
    color: #d4d4d4;
    background: #f7f3f7;
    font-size: 64px;
    width: 150px;
    font-family: Consolas;
    transition: 0.2s;
}
.preguntas button:hover{
    cursor: pointer;
    color: #ee628e; 
    transition: 0.2s;

}

.preguntas button:active{
    color: #fd93b4;
}


.pregunta-template {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background: white;
    width: 80%;
    padding: 35px;
    border-radius: 19px;
    align-items: center;
}

.pregunta-template h3 {
    color: #FF007F;
    font-size: 24px;
    width: 100%;
    text-align: center;
    margin: 0;
    margin-bottom: 28px;
}

