.grid-container {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    justify-content: center;
    align-items: center;
    grid-row-gap: 22px;
    grid-column-gap: 58px;
}

.grid-item {
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    overflow: hidden;
    flex-direction: column;
}

.grid-item label {
    font-size: 14px;
    font-family: 'Montserrat';
    color: #4d4d4d;
    margin-bottom: 0;
}


.grid-image-container {
    width: 144px;
    height: 134px;
    display: flex;
    background: #f8f8f8;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    overflow: hidden;
    transition: 0.2s;
}

.grid-image-container:hover{
	transition: 0.2s;

	border: 2px solid #ee628e;
}

.grid-item .grid-image-container img {
    width: 93%;
}

.grid-item:hover{
	cursor: pointer;
	opacity: 0.8;
}

.grid-item:active{
	opacity: 1;
}

.pregunta-template h3 {
    color: #FF007F;
    font-size: 18px;
    width: 100%;
    text-align: center;
    margin: 0;
    margin-bottom: 28px;
}
