.container_register {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    align-content: space-around;
    justify-content: center;
    align-items: center;
    background: white;
    width: 100%;
    padding: 15px;
}

.container_register button {
    margin: 11px;
    width: 95%;
    padding: 10px;
    border: none;
    font-size: 15px;
    background: #ee628e;
    color: white;
    border-radius: 6px;
    font-family: 'Montserrat';
}

.main_container {
    width: 35%;
}

button:hover {
    background: #E62E68;
}

input[type=text], input[type=password], input[type=email], input[type=date] {
    width: 95%;
    margin: 7px;
    padding: 11px;
    border-radius: 6px;
    box-sizing: border-box;
    border: 1px solid #d5d5d5;
    font-family: 'Montserrat';
}

label {
    margin-bottom: 5px;
    margin-top: 11px;
    margin-left: 22px;
    width: 100%;
    font-size: 13px;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bolder;
    text-align: center;
}

form {
    display: flex;
    border-radius: 16px;
    width: 100%;
    overflow: hidden;
}

html {
    border-top: solid;
    border-top-width: 12px;
    border-top-color: #ee628e;
}
  
.container {
    overflow-y: scroll;
    height: 500px; 
}

#register-section {
    display: none;
  }

#contraseñas_distintas{
    color: red;
    font-size: 12px;
    font-weight: bold;
    text-align: left;
    width: 100%;
    margin-left: 27px;
}

#mensaje-mail{
    color: red;
    font-size: 12px;
    font-weight: bold;
    text-align: left;
    width: 100%;
    margin-left: 27px;
}

#mensaje-menor-edad {
    color: red;
    font-size: 12px;
    font-weight: bold;
    text-align: left;
    width: 100%;
    margin-left: 27px;
}

#encap{
    display: flex;
    flex-direction: row;
    width: 98%;
    justify-content: space-between;
}

#datos{
    color: #E62E68;
    font-weight: bolder;
    font-size: 20px;
}

#logoinicio{
    width: 180px;
    margin-bottom: 10px;
    margin-top:-50px;
}